@model IEnumerable<mvc.Models.Diachi>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH ĐỊA CHỈ KHÁCH HÀNG</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongXa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuanHuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhThanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongXa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanHuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhThanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacDinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.Ten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDc">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaDc">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDc">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
