@model IEnumerable<mvc.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH HÓA ĐƠN</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.Ten)
            </td>
            <td>               
                <a  asp-action="Details" asp-route-id="@item.MaHd">Chi tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
