@model List<mvc.Models.CartItem>
<br />
<h3>Giỏ hàng của bạn</h3>

@if (Model.Count > 0)
{
    int stt = 1;        // số thứ tự
    int thanhtien = 0;     // thành tiền
    int tongtien = 0;      // tổng tiền

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var i in Model)
        {
            thanhtien = i.MatHang.GiaBan * i.SoLuong;
            tongtien += thanhtien;
            <tr class="align-middle">
                <td>@(stt++)</td>
                <td>
                    <img src="~/images/products/@(i.MatHang.HinhAnh)" class="img-thumbnail" width="50" />
                    @(i.MatHang.Ten)
                </td>
                <td>@(i.MatHang.GiaBan.ToString("n0"))</td>
                <td>
                    <form asp-action="UpdateItem" method="post">
                        <div class="row">
                            <div class="col">
                                <input name="id" type="hidden" asp-for="@(i.MatHang.MaMh)" />
                                <input name="quantity" type="number" asp-for="@(i.SoLuong)" class="form-control" />
                            </div>
                            <div class="col">
                                <input class="btn btn-warning" type="submit" value="Cập nhật" />
                            </div>
                        </div>
                    </form>
                </td>
                <td>@(thanhtien.ToString("n0"))</td>
                <td><a asp-action="RemoveItem" asp-route-id="@i.MatHang.MaMh" class="btn btn-danger">Xóa</a></td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-end">Thành tiền</td>
            <td colspan="2"><strong class="text-danger">@(tongtien.ToString("n0"))</strong></td>
        </tr>
    </table>
    <div class="text-end">
        <a class="btn btn-info" asp-action="CheckOut">Thanh toán</a>
    </div>
}
else
{
    <p class="alert alert-danger">Giỏ hàng rỗng!</p>
}
